# Prediction of Traffic Accident Risk
Team 7: 어서오십쇼HUMAN  
Editor: 유성민, 김도운
## 2. 모델 학습

In [75]:
# 사전 준비
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings

plt.style.use('seaborn')
sns.set(font_scale=2.5)

warnings.filterwarnings('ignore')

%matplotlib inline

In [76]:
sample = pd.read_csv('../input/sample_accident.csv')

print("sample.shape:", sample.shape)

sample.shape: (362297, 10)

In [77]:
sample

             발생일 발생시간 요일 발생지_시군구  사고내용   노면상태 기상상태 도로형태_대분류 가해자차종 가해자연령
0       20100101  00시  금     마포구    경상  젖음/습기   맑음      단일로   승용차   54세
1       20100101  00시  금     동작구    중상  서리/결빙   맑음      단일로   승합차   57세
2       20100101  00시  금     관악구    경상  서리/결빙   흐림      단일로   승용차   51세
3       20100101  00시  금     강서구    경상     건조   맑음      교차로   승용차   56세
4       20100101  00시  금     구로구    경상     건조   맑음      교차로   승용차   33세
...          ...  ... ..     ...   ...    ...  ...      ...   ...   ...
362292  20181231  23시  월     동작구    경상     건조   맑음      단일로   승용차   34세
362293  20181231  23시  월     강서구  부상신고     건조   맑음      교차로   승용차   56세
362294  20181231  23시  월     강동구    경상     건조   맑음      교차로   승용차   57세
362295  20181231  23시  월     강동구    경상     건조   맑음      단일로   승용차   59세
362296  20181231  23시  월     송파구    경상     건조   맑음      교차로   승용차   69세

[362297 rows x 10 columns]

# Read Preprocessing data

In [78]:
preprocessing = pd.read_csv('../input/preprocessing.csv')

print("sample.shape:", preprocessing.shape)

# 초기 샘플 데이터
preprocessing

sample.shape: (350261, 15)

,Date,Time,Day,Location,RoadState,Weather,RoadShape,Type,Age,AgeBand,TargetOrigin,Target_0,Target_1,Target_2,Target_3
0,20100101,0,5,12,4,2,3,1,54,50,0,1,0,0,0
1,20100101,0,5,11,2,2,3,2,57,50,3,0,0,0,1
2,20100101,0,5,4,2,5,3,1,51,50,0,1,0,0,0
3,20100101,0,5,3,0,2,0,1,56,50,0,1,0,0,0
4,20100101,0,5,6,0,2,0,1,33,30,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362292,20181231,23,1,11,0,2,3,1,34,30,0,1,0,0,0
362293,20181231,23,1,3,0,2,0,1,56,50,1,0,1,0,0
362294,20181231,23,1,1,0,2,0,1,57,50,0,1,0,0,0
362295,20181231,23,1,1,0,2,3,1,59,50,0,1,0,0,0
362296,20181231,23,1,17,0,2,0,1,69,60,0,1,0,0,0

# Make train data

In [79]:
data1 = preprocessing.loc[ : , "Time" : "Type"]
data2 = preprocessing.loc[:, "AgeBand":"TargetOrigin"]
data = pd.concat([data1,data2], axis = 1)
data

,Time,Day,Location,RoadState,Weather,RoadShape,Type,AgeBand,TargetOrigin
0,0,5,12,4,2,3,1,50,0
1,0,5,11,2,2,3,2,50,3
2,0,5,4,2,5,3,1,50,0
3,0,5,3,0,2,0,1,50,0
4,0,5,6,0,2,0,1,30,0
...,...,...,...,...,...,...,...,...,...
362292,23,1,11,0,2,3,1,30,0
362293,23,1,3,0,2,0,1,50,1
362294,23,1,1,0,2,0,1,50,0
362295,23,1,1,0,2,3,1,50,0
362296,23,1,17,0,2,0,1,60,0

In [80]:
###### 타겟 데이터를 트레인 테스트 분리하기 전에 X, y를 배열 형태로 만들기

In [91]:
x = data[['Time', 'Day', 'Location','RoadState','Weather', 'RoadShape', 'Type', 'AgeBand']]
y = data['TargetOrigin']

In [92]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

# Prepare Model training and analysis

> editor: seongminyoo   
> Date of modification: 2020-05-25 04:49pm

`solving problem`
+ Classification Problem

`using model`
+ KNN
+ Decision Tree
+ Bagging
+ Random Forest
+ SVM
+ Neural Network classifier

`algorithm for each step`
1. Make pipeline
    - standard data, model
2. GridSearchCV by 10 fold or 5 fold
    - make parameter set
3. Test
    - best_esitimater is model that construct best hyper parameter set
4. Analysis result
    - use confusion matrix

# import using package

In [97]:
# package
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV

# Make functions

In [98]:
# 최고 모델 만드는 함수
def make_model(model_name, model, param_grid, cv):
    try: # random_state 가능 모델
        pipe_svc = Pipeline([('scl', StandardScaler()), (model_name,model(random_state = 1))])
    except Exception: # random_state 불가능 모델
        print('error detection!')
        pipe_svc = Pipeline([('scl', StandardScaler()), (model_name,model())])
    finally:
        gs = GridSearchCV(estimator=pipe_svc, param_grid=param_grid, scoring='accuracy', cv=cv, n_jobs=-1)
        gs.fit(x_train,y_train)
        best_params = gs.best_params_
        print(best_params)
        return gs

# test function
def make_test(model):
        best_model=model.best_estimator_
        y_pred = best_model.predict(x_test)
        print(classification_report(y_test,y_pred,target_names=['class 0','class 1']))

# Dummy data for Debugging

In [99]:
# # dummy data for debug
# from sklearn.datasets import make_classification
# from sklearn.model_selection import train_test_split

# X, y = make_classification(n_features=8, n_informative=5,
#                            n_redundant=3, n_clusters_per_class=1, random_state=4, n_samples =1000 )

# x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.1)

# KNN

In [ ]:
# hyper parameter sets
param_range = [1000,2000,3000,4000,5000] # dummy데이터보다 이웃수가 더 많아서 테스트 못함
# param_range = [i for i in range(1,11)]
param_grid = [
    {'knn__n_neighbors': param_range, 'knn__metric': ['euclidean']},
    {'knn__n_neighbors': param_range, 'knn__metric': ['manhattan']}]

In [ ]:
# KNN train and test
make_test(make_model('knn',KNeighborsClassifier,param_grid,10))

error detection!

# Decision Tree

In [ ]:
# hyper parameter sets
param_range = [i for i in range(5,21)]
# 1 아래의 parmeter들과 위의 k가 한번 씩 모두 들어가서 brute-force를 진행함으로써 제일 좋은 파라미터를  결과로 도출해준다.
param_grid = [
    {'dt__max_depth': param_range, 'dt__criterion': ['entropy']},
    {'dt__max_depth': param_range, 'dt__criterion': ['gini']}]

In [ ]:
# Decision Tree train and test
make_test(make_model('dt',tree.DecisionTreeClassifier,param_grid,10))

# Random Forest

In [ ]:
# hyper parameter set for Random Forest
estimators = [10, 100 , 500]
depth_range = [i for i in range(5,11)]
param_grid = [
    {'rf__max_depth': depth_range, 'rf__criterion': ['entropy'], 'rf__n_estimators':estimators},
    {'rf__max_depth': depth_range, 'rf__criterion': ['gini'], 'rf__n_estimators':estimators}]

In [ ]:
# Random Forest train and test
make_test(make_model('rf',RandomForestClassifier,param_grid,10))

# Bagging

In [ ]:
# hyper parameter set for Bagging
estimators = [10,100, 500]
depth_range = [i for i in range(5,11)]
param_grid = [
    {'bg__base_estimator__max_depth': depth_range, 'bg__base_estimator__criterion': ['entropy'], 'bg__n_estimators':estimators},
    {'bg__base_estimator__max_depth': depth_range, 'bg__base_estimator__criterion': ['gini'], 'bg__n_estimators':estimators}
 ]

In [ ]:
#Bagging train and test
pipe_svc = Pipeline([('scl', StandardScaler()), ('bg',BaggingClassifier(tree.DecisionTreeClassifier(random_state = 1),random_state=1))])
gs = GridSearchCV(estimator=pipe_svc, param_grid=param_grid, scoring='accuracy', cv=10, n_jobs=-1)
gs.fit(x_train,y_train)
print(gs.best_params_)
best_bg=gs.best_estimator_
y_pred = best_bg.predict(x_test) 
print(classification_report(y_test,y_pred,target_names=['class 0','class 1']))

# SVM

In [27]:
# hyper parameter set for SVM
param_range = [10e-6, 10e-4, 0.01, 1 ,10.0]
param_grid = [
    {'clf__C': param_range, 'clf__kernel': ['linear']},
    {'clf__C': param_range, 'clf__kernel': ['rbf']},
    {'clf__C': param_range, 'clf__kernel': ['poly']},
    {'clf__C': param_range, 'clf__kernel': ['sigmid']}]

In [28]:
make_test(make_model('clf',SVC,param_grid,10))

{'clf__C': 10.0, 'clf__kernel': 'rbf'}
              precision    recall  f1-score   support

     class 0       0.96      1.00      0.98        46
     class 1       1.00      0.96      0.98        54

    accuracy                           0.98       100
   macro avg       0.98      0.98      0.98       100
weighted avg       0.98      0.98      0.98       100

# Neural Network Classifier

In [58]:
# hyper parameter set for Neural Network
param_learning_rate=['constant', 'adaptive']
param_activation = ['relu', 'identity', 'tanh', 'logistic']
param_solver=['sgd', 'adam']
param_hidden_layer_sizes=[(100,)]
param_grid = [
    {'nnc__learning_rate': param_learning_rate, 'nnc__hidden_layer_sizes':param_hidden_layer_sizes, 
     'nnc__activation':param_activation, 'nnc__solver':param_solver}
]

In [59]:
# Neural Network test
make_test(make_model('nnc',MLPClassifier,param_grid, 10))

{'nnc__activation': 'relu', 'nnc__hidden_layer_sizes': (100,), 'nnc__learning_rate': 'constant', 'nnc__solver': 'adam'}
              precision    recall  f1-score   support

     class 0       0.94      0.98      0.96        46
     class 1       0.98      0.94      0.96        54

    accuracy                           0.96       100
   macro avg       0.96      0.96      0.96       100
weighted avg       0.96      0.96      0.96       100