# Prediction of Traffic Accident Risk
Team 7: 어서오십쇼HUMAN  
Editor: 김용현
## 1. Preprocess

In [1]:
# 사전 준비
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings

plt.style.use('seaborn')
sns.set(font_scale=2.5)

warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
sample = pd.read_csv('../input/sample_accident.csv')

print("sample.shape:", sample.shape)

# 초기 샘플 데이터
sample

sample.shape: (362297, 10)

             발생일 발생시간 요일 발생지_시군구  사고내용   노면상태 기상상태 도로형태_대분류 가해자차종 가해자연령
0       20100101  00시  금     마포구    경상  젖음/습기   맑음      단일로   승용차   54세
1       20100101  00시  금     동작구    중상  서리/결빙   맑음      단일로   승합차   57세
2       20100101  00시  금     관악구    경상  서리/결빙   흐림      단일로   승용차   51세
3       20100101  00시  금     강서구    경상     건조   맑음      교차로   승용차   56세
4       20100101  00시  금     구로구    경상     건조   맑음      교차로   승용차   33세
...          ...  ... ..     ...   ...    ...  ...      ...   ...   ...
362292  20181231  23시  월     동작구    경상     건조   맑음      단일로   승용차   34세
362293  20181231  23시  월     강서구  부상신고     건조   맑음      교차로   승용차   56세
362294  20181231  23시  월     강동구    경상     건조   맑음      교차로   승용차   57세
362295  20181231  23시  월     강동구    경상     건조   맑음      단일로   승용차   59세
362296  20181231  23시  월     송파구    경상     건조   맑음      교차로   승용차   69세

[362297 rows x 10 columns]

In [3]:
#Date,Time,Day,Location,Target,RoadState,Weather,RoadShape,Type,Age

sample.rename(columns={"발생일":"Date", "발생시간":"Time", "요일":"Day", "발생지_시군구":"Location", "사고내용":"Target", "노면상태":"RoadState", "기상상태":"Weather", "도로형태_대분류":"RoadShape","가해자차종":"Type", "가해자연령":"Age"}, inplace=True)

sample

,Date,Time,Day,Location,Target,RoadState,Weather,RoadShape,Type,Age
0,20100101,00시,금,마포구,경상,젖음/습기,맑음,단일로,승용차,54세
1,20100101,00시,금,동작구,중상,서리/결빙,맑음,단일로,승합차,57세
2,20100101,00시,금,관악구,경상,서리/결빙,흐림,단일로,승용차,51세
3,20100101,00시,금,강서구,경상,건조,맑음,교차로,승용차,56세
4,20100101,00시,금,구로구,경상,건조,맑음,교차로,승용차,33세
...,...,...,...,...,...,...,...,...,...,...
362292,20181231,23시,월,동작구,경상,건조,맑음,단일로,승용차,34세
362293,20181231,23시,월,강서구,부상신고,건조,맑음,교차로,승용차,56세
362294,20181231,23시,월,강동구,경상,건조,맑음,교차로,승용차,57세
362295,20181231,23시,월,강동구,경상,건조,맑음,단일로,승용차,59세
362296,20181231,23시,월,송파구,경상,건조,맑음,교차로,승용차,69세

In [4]:
# Feature: 가해자연령

# 나이 불명인 열 삭제
sample = sample[sample['Age'] != '불명']

# 문자열 제거: ex 54'세' 제거
sample['Age'] = sample['Age'].str[:-1]

# dtype: object -> int
sample['Age'] = sample['Age'].astype('int')

In [5]:
# bins, labels
bins = [10, 20, 30, 40, 50, 60, 70, 80, 90]
labels = ['10', '20', '30', '40', '50', '60', '70', '80']

# 나이대 분류
sample['AgeBand'] = pd.cut(sample['Age'], bins=bins, labels=labels)

# Drop NaN values
sample.dropna(how='any', inplace=True)

sample

,Date,Time,Day,Location,Target,RoadState,Weather,RoadShape,Type,Age,AgeBand
0,20100101,00시,금,마포구,경상,젖음/습기,맑음,단일로,승용차,54,50
1,20100101,00시,금,동작구,중상,서리/결빙,맑음,단일로,승합차,57,50
2,20100101,00시,금,관악구,경상,서리/결빙,흐림,단일로,승용차,51,50
3,20100101,00시,금,강서구,경상,건조,맑음,교차로,승용차,56,50
4,20100101,00시,금,구로구,경상,건조,맑음,교차로,승용차,33,30
...,...,...,...,...,...,...,...,...,...,...,...
362292,20181231,23시,월,동작구,경상,건조,맑음,단일로,승용차,34,30
362293,20181231,23시,월,강서구,부상신고,건조,맑음,교차로,승용차,56,50
362294,20181231,23시,월,강동구,경상,건조,맑음,교차로,승용차,57,50
362295,20181231,23시,월,강동구,경상,건조,맑음,단일로,승용차,59,50
362296,20181231,23시,월,송파구,경상,건조,맑음,교차로,승용차,69,60

In [6]:
DayArray =['일','월','화','수','목','금','토']
print(DayArray[0])
for a in range(0,len(DayArray)):
    sample['Day'] = np.where(sample['Day'] == DayArray[a],a,sample['Day'])

일

In [7]:
sample

,Date,Time,Day,Location,Target,RoadState,Weather,RoadShape,Type,Age,AgeBand
0,20100101,00시,5,마포구,경상,젖음/습기,맑음,단일로,승용차,54,50
1,20100101,00시,5,동작구,중상,서리/결빙,맑음,단일로,승합차,57,50
2,20100101,00시,5,관악구,경상,서리/결빙,흐림,단일로,승용차,51,50
3,20100101,00시,5,강서구,경상,건조,맑음,교차로,승용차,56,50
4,20100101,00시,5,구로구,경상,건조,맑음,교차로,승용차,33,30
...,...,...,...,...,...,...,...,...,...,...,...
362292,20181231,23시,1,동작구,경상,건조,맑음,단일로,승용차,34,30
362293,20181231,23시,1,강서구,부상신고,건조,맑음,교차로,승용차,56,50
362294,20181231,23시,1,강동구,경상,건조,맑음,교차로,승용차,57,50
362295,20181231,23시,1,강동구,경상,건조,맑음,단일로,승용차,59,50
362296,20181231,23시,1,송파구,경상,건조,맑음,교차로,승용차,69,60

In [8]:
sample.dtypes

Date            int64
Time           object
Day            object
Location       object
Target         object
RoadState      object
Weather        object
RoadShape      object
Type           object
Age             int64
AgeBand      category
dtype: object

In [9]:
# Feature: Time

sample["Time"] = sample['Time'].str[:-1]

sample['Time'] = sample['Time'].astype('int')

In [10]:
# Feature: Target
TargetNameArr = ['Minor','Wound','Death','Heavy']

# 데이터명 수정
sample['Target'] = np.where(sample['Target'] == '경상', '0' ,sample['Target'])
sample['Target'] = np.where(sample['Target'] == '부상신고', '1',sample['Target'])
sample['Target'] = np.where(sample['Target'] == '사망', '2',sample['Target'])
sample['Target'] = np.where(sample['Target'] == '중상', '3',sample['Target'])

sample['Target'] = sample['Target'].astype('int')
temp = sample['Target']

#
sample['TargetOrigin'] = temp

# One-hot encoding
sample = pd.get_dummies(sample, columns=['Target'], prefix=['Target'])

In [11]:
sample

,Date,Time,Day,Location,RoadState,Weather,RoadShape,Type,Age,AgeBand,TargetOrigin,Target_0,Target_1,Target_2,Target_3
0,20100101,0,5,마포구,젖음/습기,맑음,단일로,승용차,54,50,0,1,0,0,0
1,20100101,0,5,동작구,서리/결빙,맑음,단일로,승합차,57,50,3,0,0,0,1
2,20100101,0,5,관악구,서리/결빙,흐림,단일로,승용차,51,50,0,1,0,0,0
3,20100101,0,5,강서구,건조,맑음,교차로,승용차,56,50,0,1,0,0,0
4,20100101,0,5,구로구,건조,맑음,교차로,승용차,33,30,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362292,20181231,23,1,동작구,건조,맑음,단일로,승용차,34,30,0,1,0,0,0
362293,20181231,23,1,강서구,건조,맑음,교차로,승용차,56,50,1,0,1,0,0
362294,20181231,23,1,강동구,건조,맑음,교차로,승용차,57,50,0,1,0,0,0
362295,20181231,23,1,강동구,건조,맑음,단일로,승용차,59,50,0,1,0,0,0
362296,20181231,23,1,송파구,건조,맑음,교차로,승용차,69,60,0,1,0,0,0

In [12]:
sample.dtypes

Date               int64
Time               int64
Day               object
Location          object
RoadState         object
Weather           object
RoadShape         object
Type              object
Age                int64
AgeBand         category
TargetOrigin       int64
Target_0           uint8
Target_1           uint8
Target_2           uint8
Target_3           uint8
dtype: object

In [21]:
sample[['AgeBand', 'TargetOrigin','Target_0','Target_1','Target_2','Target_3']].groupby(['AgeBand'], as_index=True).count()

         TargetOrigin  Target_0  Target_1  Target_2  Target_3
AgeBand
10              15659     15659     15659     15659     15659
20              47225     47225     47225     47225     47225
30              61311     61311     61311     61311     61311
40              76710     76710     76710     76710     76710
50              89762     89762     89762     89762     89762
60              48402     48402     48402     48402     48402
70              10983     10983     10983     10983     10983
80                725       725       725       725       725

In [ ]:
temp = pd.get_dummies(sample.Location)
temp.columns[0]

In [ ]:
# 각 타입별 타겟 데이터
typeData = pd.crosstab(sample.Type, sample.TargetOrigin, margins=True)
typeData

In [ ]:
weatherData = pd.crosstab(sample.Weather, sample.TargetOrigin, margins=True)
weatherData

In [ ]:
roadShapeDate = pd.crosstab(sample.RoadShape, sample.TargetOrigin, margins=True)
roadShapeDate

In [ ]:
roadStateData = pd.crosstab(sample.RoadState, sample.TargetOrigin, margins=True)
roadStateData

In [ ]:
# Feature: Type.all 500개 미만 type 제거
for data, index in zip(typeData.All, typeData.index):
    if data < 500:
        sample = sample[sample['Type'] != index]

In [ ]:
# Feature: Weather, RoadShape, RoadState 결측값(불명) 제거
sample = sample[sample['Weather'] != '불명']

sample = sample[sample['RoadShape'] != '불명']

In [ ]:
sample

In [ ]:
def preprocessing(feature):
    temp = pd.get_dummies(feature)
    temp = temp.columns
    print(temp)
    for a in range(0,len(temp)):
        feature = np.where(feature == temp[a],a,feature)
    return feature

In [ ]:
sample.Location=preprocessing(sample.Location)
sample.Location
sample.RoadState = preprocessing(sample.RoadState)
sample.Weather = preprocessing(sample.Weather)
sample.RoadShape = preprocessing(sample.RoadShape)
sample.Type = preprocessing(sample.Type)

In [ ]:

sample['Location'] = sample['Location'].astype('int')

sample['Day'] = sample['Day'].astype('int')
sample['RoadState'] = sample['RoadState'].astype('int')
sample['Weather'] = sample['Weather'].astype('int')
sample['RoadShape'] = sample['RoadShape'].astype('int')
sample['Type'] = sample['Type'].astype('int')

In [ ]:
# 각 feature들의 type
sample.dtypes

## 2. Save preprocessing data

In [ ]:
# 전처리 데이터 저장(input/preprocessing.csv)
sample.to_csv('../input/preprocessing.csv', encoding='utf-8-sig',index_label=False)

In [ ]:
preprocessing = pd.read_csv('../input/preprocessing.csv')

print("sample.shape:", preprocessing.shape)

# 초기 샘플 데이터
preprocessing

## 3.EDA and Correlation Coefficient analysis

In [ ]:
sample

In [ ]:
from sklearn.preprocessing import StandardScaler
sample2 = sample.drop(['AgeBand','Target_0','Target_1','Target_2','Target_3'],axis = "columns")

tsample = sample2[sample2['TargetOrigin']==0]
std_scaler = StandardScaler()
std_scaler.fit(tsample)
tsample = std_scaler.transform(tsample)   #normalize ,데이터 정규화 작업
tsample.shape

tsample2 = sample2[sample2['TargetOrigin']==1]
std_scaler = StandardScaler()
std_scaler.fit(tsample2)
tsample2 = std_scaler.transform(tsample2)   #normalize ,데이터 정규화 작업
tsample2.shape

tsample3 = sample2[sample2['TargetOrigin']==2]
std_scaler = StandardScaler()
std_scaler.fit(tsample3)
tsample3 = std_scaler.transform(tsample3)   #normalize ,데이터 정규화 작업
tsample3.shape

tsample4 = sample2[sample2['TargetOrigin']==3]
std_scaler = StandardScaler()
std_scaler.fit(tsample4)
tsample4 = std_scaler.transform(tsample4)   #normalize ,데이터 정규화 작업
tsample4.shape

In [ ]:
corr = np.corrcoef(np.transpose(tsample))
corr2 = np.corrcoef(np.transpose(tsample2))
corr3 = np.corrcoef(np.transpose(tsample3))
corr4 = np.corrcoef(np.transpose(tsample4))

In [ ]:
corr

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
label = sample.columns[:9]
heatmap2 = sns.heatmap(corr,cbar = True,annot = True,square = True,fmt = '.2f',annot_kws = {'size':5},
                      yticklabels = label,xticklabels = label)
plt.show()

In [ ]:

heatmap2 = sns.heatmap(corr2,cbar = True,annot = True,square = True,fmt = '.2f',annot_kws = {'size':5},
                      yticklabels = label,xticklabels = label)
plt.show()

In [ ]:

heatmap2 = sns.heatmap(corr3,cbar = True,annot = True,square = True,fmt = '.2f',annot_kws = {'size':5},
                      yticklabels = label,xticklabels = label)
plt.show()

In [ ]:
heatmap2 = sns.heatmap(corr4,cbar = True,annot = True,square = True,fmt = '.2f',annot_kws = {'size':5},
                      yticklabels = label,xticklabels = label)
plt.show()